<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

</head>

<body>
    <div th:fragment="footer">
        <!-- start footer -->
    <footer class="container-fluid bg-white mt-5 border shadow">
        <div class="box-footer_content container ">
          <div class="footer-box row py-5 ">
            <div class="footer-item col-3">
              <div class="footer-item_header-brand mb-4">
                <i
                  class="fab fa-studiovinari shadow fw-bold p-2 fc-black nav-logo--icon rounded-circle shadow bg-black fs-3"></i>
                <h1 class="d-inline fw-bold ms-2 fs-3">Study With Me</h1>
              </div>
              <div class="footer-item_body-brand">
  
                <p class="body-brand_item text-wrap">
                  <i class="fas fa-comments fs-3 text-center"></i>
                  http://m.me/studywithme
                </p>
                <p class="body-brand_item">
                  <i class="fas fa-phone-volume fs-3 text-center me-2"></i>
                  092131123
                </p>
                <div class="body-brand_item"></div>
              </div>
            </div>
            <!-- Danh mục -->
            <div class="footer-item col-3">
              <div class="footer-item_header-category mb-4">
                <h1 class="d-inline fw-bold ms-2 fs-5">DANH MỤC</h1>
              </div>
              <div class="footer-item_body-category">
                <p class="mb-2">Lập trình Android nâng cao</p>
                <p class="mb-2">Xây dựng trang web</p>
                <p class="mb-2">Cơ sở dữ liệu</p>
                <p class="mb-2">SQL Server</p>
                <p class="mb-2">Internet Marketing</p>
                <p class="mb-2">Lập trình hướng đối tượng với java</p>
                <p class="mb-2">Lập trình PHP</p>
                <p class="mb-2">Điện toán đám mây</p>
                <p class="mb-2">Lập trình Android cơ bản</p>
                <p class="mb-2">Lập trình game 2D</p>
                <p class="mb-2">Lập trình PHP</p>
                <p class="mb-2">Thiết kế giao diện trên Android</p>
                <p class="mb-2">Thiết kế Web cho điện thoại di động</p>
                <p class="mb-2">Lập trình ASP.NET</p>
              </div>
            </div>
            <!-- Về chúng tôi -->
            <div class="footer-item col-3">
              <div class="footer-item_header-info mb-4">
                <h1 class="d-inline fw-bold ms-2 fs-5">VỀ CHÚNG TÔI</h1>
              </div>
              <div class="footer-item_body-info">
                <a href="#" class="mb-2 d-block text-decoration-none text-body">Blog</a>
                <a href="#" class="mb-2 d-block text-decoration-none text-body">Điều khoản hoạt động</a>
                <a href="#" class="mb-2 d-block text-decoration-none text-body">18001111</a>
                <a href="#" class="mb-2 d-block text-decoration-none text-body">0941194703</a>
                <a href="#" class="mb-2 d-block text-decoration-none text-body">info@studywithme.com</a>
              </div>
            </div>
            <div class="footer-item col-3">
              <div class="footer-item_header-down mb-4">
                <h1 class="d-inline fw-bold ms-2 fs-5">Tải ứng dụng Study With Me</h1>
              </div>
              <div class="footer-item_body-down">
                <div class="introdu-3-item_heading-contact row">
                  <div class="introdu-3-item_heading-contact--qr col-5">
                    <img src="./images/qr-code.png" class="img-thumbnail h-50 mx-auto d-block align-content-center mt-4"
                      alt="">
                  </div>
                  <div class="introdu-3-item_heading-contact--social col-6">
                    <div class="heading-contact--social_img">
                      <img src="./images/apple-store.svg" class="img-thumbnail mt-2 " alt="">
                    </div>
                    <div class="heading-contact--social_img">
                      <img src="./images/google-play.svg" class=" img-thumbnail mt-2" alt="">
                    </div>
                    <div class="heading-contact--social_img ">
                      <img src="./images/huawei.svg" class="img-thumbnail mt-2 " alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </footer>
      <!-- end footer -->
    </div>


</body>

</html>