<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
    <section class="row" layout:fragment="content">
       <!-- Start content -->
    <div class="content-body ">
        <!-- introdu -->
        <div class="intro-content mb-3">
          <h3 class="text-center fw-bold">Chào mừng bạn đến với War Shop!</h3>
          <p class="text-center mb-0">Đây là trang web giúp bạn mua sắm</p>
          <p class="text-center">Đăng nhập hoặc Đăng ký để trải nghiệm !</p>
        </div>
  
        <!-- introdu 2 -->
        <div class="introdu-2 container mb-3">
          <div class="intro-list row text-center justify-content-around ">
            <div class="intro-item col-sm-3 border rounded-3 mb-2 bg-white text-center ">
              <img src="./images/pro1.jpg" class="img-thumbnail border mt-2  " alt="">
              <h4 class="fw-bold mt-4">Nhiều loại laptop chính hãng</h4>
              <p class="fw-lighter">Giá cả hợp lý</p>
            </div>
            <div class="intro-item col-sm-3 border rounded-3 mb-2 bg-white  ">
                <img src="./images/pro1.jpg" class="img-thumbnail border mt-2  " alt="">
                <h4 class="fw-bold mt-4">Nhiều loại laptop chính hãng</h4>
                <p class="fw-lighter">Giá cả hợp lý</p>
            </div>
            <div class="intro-item col-sm-3 border rounded-3 mb-2 bg-white  ">
                <img src="./images/pro1.jpg" class="img-thumbnail border mt-2  " alt="">
                <h4 class="fw-bold mt-4">Nhiều loại laptop chính hãng</h4>
                <p class="fw-lighter">Giá cả hợp lý</p>
            </div>
          </div>
  
        </div>
      </div>
  
  
      <!-- introdu 3 -->
      <div class="introdu-3 container mt-5 my-3">
        <div class="intro3-panel row pt-3" id="intro3-panel">
          <div class="introdu-3-item col-lg-7 ">
            <div class="introdu-3-item_heading">
              <i
                class="fab fa-studiovinari shadow fw-bold p-3 fc-black nav-logo--icon rounded-circle shadow bg-black introdu-3-item_heading-icon"></i>
              <h1 class="d-inline fw-bold ms-3">War Shop</h1>
            </div>
            <div class="introdu-3-item_body">
              <h2 class="mt-4">Mua sắm tiện lợi</h2>
             
            </div>
            <div class="introdu-3-item_heading-contact row mt-5">
              <div class="introdu-3-item_heading-contact--qr col-5">
                <img src="./images/qr-code.png" class="img-thumbnail h-75 mx-auto d-block align-content-center" alt="">
              </div>
              <div class="introdu-3-item_heading-contact--social col-6">
                <div class="heading-contact--social_img">
                  <img src="./images/apple-store.svg" class="float-lg-start h-50 mb-2" alt="">
                  <img src="./images/google-play.svg" class="float-lg-end h-50 " alt="">
                </div>
                <div class="heading-contact--social_img ">
                  <img src="./images/huawei.svg" class="float-lg-start h-50 mt-2" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- caurosel -->
          <div class="introdu-3-item col-lg-5 ">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./images/intro3-4.jpg" class="d-block h-100 rounded" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./images/intro3-5.jpg" class="d-block h-100 rounded " alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./images/rsz_intro3-6.jpg" class="d-block h-100 rounded " alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End content -->
    </section>
</body>

</html>