body{
    margin: 0 auto;
    padding: 0px;
    width: 2000px;
    height: 3500px;
    min-width: 1000px;
    background-image: url(http://thptleloi.quangtri.edu.vn/upload/21541/20201115/breadcrumbs-bg-1_0492016d0_4edc8a7006.jpg) ;
}
.logo{
    background-color:cadetblue;
    width: 100%;
    height: 60px;  
}

.t1-trai>a{
    color: white;
    text-decoration: none;
}
.t1-trai>img{
    width: 30px;
}

.logo .t1-trai{
    margin: 10px 10px 20px 20px;
    float: left;
    
    
}
.timkiem{
  float: right;
  margin: 15px 15px 20px 20px;
    min-width: 20%;
    height: 25px;
}
.timkiem-logo{
    float: right;
      width: 30px;
      padding-top: 15px;
     
}
.logo-truong{
    max-width: 2400px;
    margin: 0 auto;
  
 
}
.logo-truong>img{
    width: 100%;
}

.hmenu{
    margin: 0px auto;
    padding: 0px;
    border-radius: 5px;
    background-color: cadetblue;
    list-style: none;
    width: 100%;
    height: 70px;
    max-width: 2400px;
}
.hmenu>li>a>img{
    width: 40px;
    margin-bottom: -12px;
    
}
ul.hmenu{
    float: left;
    position: relative;
}
ul.hmenu>li{  
    float: left;
    
    position: relative;
}
.hmenu>li>a{  
    text-decoration: none;
    color: white;
    display: block;
    line-height: 80px;
    font-size: 30px;
    margin: 0 auto;
    font-variant: small-caps;
    padding: 0 25px;

}
ul.hmenu>li>a:hover{
    background:white;
    color: black;
    font-weight: bolder;
    
 
}
ul.hmenu>li>a:focus{
    background:white;
    color: red;
    font-weight: bolder;
    
 
}
ul.hmenu>li:hover>.menu-con-gioi-thieu{
    display: block;
}
ul.menu-con-gioi-thieu{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    list-style: none;
    width: auto;
    position: absolute;
    display: none;
 
}
ul.menu-con-gioi-thieu>li>a{
    display: block;
    line-height: 30px;
    text-decoration: none;
    font-variant: small-caps;
    padding: 0 25px;
    

    background-color:cadetblue ;
    color:black;
 
}
ul.menu-con-gioi-thieu>li>a:hover{
    background-color: white;
    color: black;
    font-weight: bolder;
    border-left: 4px solid cadetblue;
}
ul.menu-con-gioi-thieu>li>a:focus{
    background-color:white;
    color: red;
    font-weight: bolder;
}
.chung{
    background-color: rgb(239, 240, 238);
    margin-top: 100px;
    top: -30px;
    position: relative;
}
.cap{
    background-color: cadetblue;
    color: white;
    font-size: 30px;
    padding-left: 40px;
    padding: 10px 50px;
    position: relative;
    
}
.map{
    width:  100%;
    height: 900px;
}
.info{
    background-color: cadetblue;
    height: 450px;
    width: 45%;
    float: left;
}
.footer{
    background-color: cadetblue;
    width: 45%;
    font-size: 30px;   
    float: left;
    height:450px ;
    text-align: center; 
    top: 130px;
    position: relative;
   
}
.footer>p{
    top: 70px;
    position: relative;
}
.lienhe{

    height: 600px;
    top: 30px;
    width: 55%;
    position: relative;
    float: left;
}
#lh-nd>h2{
    float: left;
    margin: 30px 30px;
    
}
div>h2>input{
    height: 40px;
    width: 300px;
    outline: none;
    font-size: 30px;    
}
#nd{
    clear: both;
    
}
.nd{
    padding-bottom: 210px;
    width: 1000px;
    font-size: 30px;
    position: relative;
}
.button{
    float: right;
    right: 100px;
    position: relative;
   
}
button{
    width: 130px;
    border-radius: 100px;
    background-color: cadetblue;
    color: white;
    font-size: 25px;
    height: 90px;
    padding: 5px 10px;
    outline: none;
    margin: 10px;
}
#button:focus{
    box-shadow: 0 0 3px white;
    background-color: white;
    color:cadetblue;
}
.footer1{
    clear: both;
    background-color: cadetblue;
    position: relative;
    text-align: center;
    top: 150px;
}
#backtop{
    right: 10px;
    bottom: 10px;
    display: block;
    position: fixed;
}
#backtop>img{
    
   size: 2000px;
}
#time{
    font-size: 30px;
    background-color: rgb(240, 238, 235);
    padding: 15px 25px;
    margin-top: 50px;
    text-align: justify;

}